//we moved this part, and only this part of "body", to typography because it included typography related code
body {
  /*here it means we select Lato font family and if not available we select sans-serif*/
  font-family: "Kelson", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7; /*means that the line height is 1.7 bigger than the predefinied line height*/
  color: #777;
}

//In this case we used a placeholder to avoid code repetition
%heading {
  font-family: $font-primary;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: $color-grey-light-1;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-weight: 300;
  font-size: 2.5rem;
  color: $color-grey-light-1;
  line-height: 1;
}

.heading-12 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  //here below are 2 modifiers
  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  //here below are 2 modifiers
  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}

.heading-5 {
  @extend %heading;
  font-size: 1.4rem;
  font-weight: 100;
  color: #777;
}
