.home {
  background-image: linear-gradient(
      105deg,
      rgba($color-grey-dark-1, 0.99) 0%,
      rgba($color-grey-dark-1, 0.9) 50%,
      transparent 100%
    ),
    url(../../assets/img/background_block2.jpg);
  background-size: cover;

  padding-top: 5rem;
  display: grid;
  grid-column-gap: 5rem;
  align-items: flex-start; //in order to have them not to expand on all available space

  grid-template-rows: auto auto max-content min-content;
  grid-template-columns: repeat(
    3,
    20%
  ); //so the total lenght is not more that 60% of the available space

  &__order1 {
    grid-column: 1/3;
    align-self: flex-end;
    padding-left: 2rem;
  }

  &__order2 {
    grid-column: 1/4;
    padding-top: 2rem;
    padding-left: 2rem;
  }

  &__order3 {
    grid-column: 2/4;
    padding-top: 4rem;
    //padding-left: 2rem; questo va tolto in modo che sia in linea con il bottone
  }

  //vl means vertical line
  .vl {
    margin: 4rem 0;
    grid-row: 3/-1;
    grid-column: 1/2;

    border-right: 1px solid $color-grey-dark-2;
    height: 30vh;
  }

  .btn-light-home {
    grid-column: 2/3;
    grid-row: 4/-1;
  }

  .btn-dark-home {
    grid-column: 3/4;
    grid-row: 4/-1;
  }

  &__image-box {
    grid-column: 4/-1;
    grid-row: 1/-1;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}
