.log-in {
  display: grid;
  grid-column-gap: 5rem;
  //vogliamo due colonne e 5 righe (per le righe le creera in maniera implicita)
  grid-template-columns: 1fr 1fr;

  &__header {
    grid-column: 1 / -1;

    &-close {
      position: relative;
      top: -5px;
      left: -5px;
    }
  }

  &__form {
    grid-column: 2/-1;

    &__group {
      padding: 1rem 0;
    }
  }

  &__redirecting {
    text-align: center;

    padding: 2rem 2rem 1rem;
    grid-column: 1/-1;

    &-navigation-link:link,
    &-navigation-link:visited {
      color: #777;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      display: flexbox; //in this way it will stay one after the other
      transition: all 0.2s;
    }

    &-navigation-link:hover,
    &-navigation-link:active {
      background-color: rgba($color-primary, 1);
      color: $color-grey-dark-2;
      transform: translateY(-3px);
    }
  }
}

//it means horizontal line
.ol {
  padding: 1rem;
  margin: 0 1rem;
  grid-column: 1/-1;
  border-bottom: 1px solid $color-grey-dark-2;
}
