// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #1f1f1f;
$color-grey-dark-2: #1f1f1f;

//FONT VARIABLES
@import url("http://fonts.googleapis.com/css?family=Kelson:100,300,400,700,900");

$font-primary: "Kelson", sans-serif;
